.st{
	background: #ccc;
	width: 500px;
	padding: 40px;
}
#das{
background: #ccc;
	width: 500px;
	padding: 40px;
	height: 200px;
	}
	button{
		padding: 3px 15px;
		font-size: 20px;
		margin-left: 200px;
	}
	body{
		background: #3C3;
	}
/*
	var a = [10,30,20];
	document.write(a+"<br>");
	var length = a.length;
	var sorted = a.sort();
	var high = a.pop(1,length-1);
	document.write("samoe bolwoe - "+high+"<br>");
	var low = a.shift(1,length-1);
	document.write("samoe malen'koe - "+low+"<br>");
	
var a = [10,30,20];
asum = a[0]+a[2]+a[1];
	document.write("samoe malen'koe - "+asum+"<br>");
	sred = (a[0]+a[2]+a[1])/length;
	document.write("samoe malen'koe - "+sred+"<br>");*/